/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  @apply bg-bg text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.no-block {
  margin-block: 0 !important;
}

.muted-duotone-icon {
  --fa-primary-color: theme('colors.red.500');
  --fa-secondary-color: theme('colors.gray.200');
  --fa-secondary-opacity: 1;
}

/*
 * Fancy scroll shadows
 * @see https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/
 */
.scroll-shadows {
  --bgRGB: 24, 24, 27;
  --bg: rgb(var(--bgRGB));
  --bgTrans: rgba(var(--bgRGB), 0);

  --shadow: rgba(12, 12, 14, 0.8);

  background:
    /* Shadow Cover TOP */ linear-gradient(
        var(--bg) 30%,
        var(--bgTrans)
      )
      center top,
    /* Shadow Cover BOTTOM */ linear-gradient(var(--bgTrans), var(--bg) 70%)
      center bottom,
    /* Shadow TOP */
      radial-gradient(farthest-side at 50% 0, var(--shadow), rgba(0, 0, 0, 0))
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        var(--shadow),
        rgba(0, 0, 0, 0)
      )
      center bottom;

  background-repeat: no-repeat;
  background-size: 100% 80px, 100% 80px, 100% 28px, 100% 28px;
  background-attachment: local, local, scroll, scroll;
}

/*
 * Help Chrome word break better
 */
.break-words {
  word-break: break-word;
}

/* 
 * Stripped down version of the tippy animation so our tooltips fade
 */
.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}

.safari-video-overflow-fix {
  mask-image: -webkit-radial-gradient(white, black);
}

@layer utilities {
  @variants responsive {
    .perspective {
      transform: perspective(1500px) rotateY(-15deg);
    }
    .perspective-hero {
      transform: perspective(1px) skewY(330deg);
    }

    .gradient-mask-hero {
      mask-image: linear-gradient(to right, black, black, transparent);
    }

    .rechart-labels-visible .recharts-cartesian-axis-tick-value {
      opacity: 1;
    }
    .rechart-labels-hidden .recharts-cartesian-axis-tick-value {
      opacity: 0;
    }
  }

  .ligatures-none {
    font-variant-ligatures: none;
  }
}

/* Loading spinner stuff */
.spinner_ZCsl {
  animation: spinner_qV4G 1.2s cubic-bezier(0.52, 0.6, 0.25, 0.99) infinite;
}
.spinner_gaIW {
  animation-delay: 0.6s;
}
@keyframes spinner_qV4G {
  0% {
    r: 0;
    opacity: 1;
  }
  100% {
    r: 11px;
    opacity: 0;
  }
}

@layer components {
  .dev {
    @apply border-4 border-red-400;
  }
}

::-webkit-input-placeholder {
  text-align: center;
  color: #3d3d3d;
  font-size: smaller;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: #3d3d3d;
  font-size: smaller;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: #3d3d3d;
  font-size: smaller;
}

:-ms-input-placeholder {
  text-align: center;
  color: #3d3d3d;
  font-size: smaller;
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
